<div class="row text-center" style="padding-top: 20px">
  <div class="col-md-12">
    <% if @animes.present? %>
      <div style="padding-bottom: 30px">
        <%= link_to 'Eliminar todos los registros', destroy_registers_animes_path,method: :delete, data: {confirm: 'Esta seguro?' } %>
      </div>
    <% end %>
  </div>
</div>

<% if @animes.present? %>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">En Emisi贸n</th>
          <th scope="col">Total Capitulos</th>
          <th scope="col">Fecha de creaci贸n</th>
          <th scope="col">Fecha de Actualizaci贸n</th>
          <th scope="col">Acci贸n</th>
        </tr>
        </thead>
        <tbody>
        <% @animes.each do |anime| %>
          <tr>
            <th scope="row"><%= anime.id %></th>
            <td><%= anime.title %></td>
            <td><%= anime.in_emission? ? 'Si' : 'No' %></td>
            <td><%= anime.total_chapters %></td>
            <td><%= I18n.l anime.created_at, format: :long %></td>
            <td><%= I18n.l anime.updated_at, format: :long %></td>
            <td><%= link_to 'Eliminar', anime_path(anime.id),method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
  <div class="row text-center" style="padding-top: 20px">
    <h1>No existen datos</h1>
  </div>
  <% end %>
